    <link rel="stylesheet" href="/css/form.css">

<div>
  <div class="container addbox"
    style="background-color: white; padding: 20px; border-radius: 10px; box-shadow: 0px 0px 8px 0px #888888;">
    <form action="/interviews/add" method="POST">
      <center>
        <h1>Add Interview</h1>
      </center>

      <div class="margin-bottom">
        <div class="row">

          <div class="col-6">
            <div class="box">
              <input type="text" id="company" name="company" class="input-animated" placeholder=" " />
              <label for="company" class="input-label">Company</label>
            </div>
          </div>

          <div class="col-6">
            <div class="box">
              <input type="date" id="date" name="date" class="input-animated" placeholder=" " />
              <label for="date" class="input-label">Date</label>
            </div>
          </div>

        </div>
      </div>

      <center>
        <button type="submit" class="btn btn-primary">Submit</button>
      </center>
    </form>
  </div>
</div>
