<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet"/>
<link href="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.13.4/b-2.3.6/b-html5-2.3.6/b-print-2.3.6/r-2.4.1/datatables.min.css" rel="stylesheet"/>
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.13.4/b-2.3.6/b-html5-2.3.6/b-print-2.3.6/r-2.4.1/datatables.min.js"></script>
<style>
  .dt-buttons {
    margin-bottom: 1rem;
  }
</style>

<div style="display: flex; align-items: center; justify-content: flex-end;">
  <a class="btn btn-outline-primary" href="/interviews/add-interview">Add New Interview</a>
</div>
<br>
<div class="container">
  <p style="text-align: center; font-size: 15px; font-weight: bold;"> 
  * Please, assign an interview to the students through the "Assign Interview" button on the "Students page".
   </p>
  <table id="interviewsTable" class="table table-success table-striped" style="width:100%">
    <thead>
      <tr>
        <th>Interview Date</th>
        <th>Company</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each interviews}}
        <tr>
          <td>{{this.company}}</td>
          <td>{{this.date}}</td>
          <td><a class="btn btn-primary" href="/interviews/interview/{{this._id}}">View Students/Results</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<br>

<script>
  $(document).ready(function() {
    $('#interviewsTable').DataTable({
        dom: 'B<"clear">lfrtip',
        buttons: [ 'copy', 'csv', 'excel', 'pdf', 'print' ]
    });
  });
</script>
